.enter,
.appear {
  opacity: 0;
  transform: translateY(150%);
}
.enter-active,
.appear-active {
  transition: opacity 1s, transform 1s;
  opacity: 1;
  transform: translateY(0);
}
.enter-done,
.appear-done {
  opacity: 1;
  transform: translateY(0);
}

.exit {
  opacity: 1;
}
.exit-active {
  opacity: 0;
  transition: opacity 1s;
}
.exit-done {
  opacity: 0;
}
