:root {
  --primary: #f27438;
  --warning: #c1002f;
  --grey-dark: #26474e;
  --grey-light: #efefef;
  --text-color: #444;
  --font-familly: "Montserrat", sans-serif;
  --box-shadow: 0 6px 9px 0 rgb(0 0 0 / 15%);
  --box-shadow-nav: rgb(0 0 0 / 22%) 0px 2px 18px 0px;
  --border: 1px solid var(--grey-light);
  --border-radius: 4px;
}
